[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/personal-web"]
	path = themes/personal-web
	url = https://github.com/bjacquemet/personal-web.git
